#homepage {
  padding: 20px 10px;
  #filterRow {
    .filterCol {
      padding: 10px 0px;
      .filterTitle {
        padding-right: 10px;
      }
    }
  }
  #cardsRow {
    padding: 0px 20px;
  }
}